<link rel="stylesheet" href="contact.component.css">
<p>
    Звоните: 
          <span class="ya-phone"> +7 985 138 67 32</span>
          <br>
          Пишите: 
          <a href="https://mail.yandex.ru/?uid=568255350#tabs/relevant">Электронная почта</a>
          <a href="https://t.me/poka_mk">  Телеграм</a>
          <a href="https://wa.me/79851386732">  WhatsApp</a>
          <a href="https://vk.com/poka_mk">  ВК</a>
          <br>
          Постараюсь ответить на все вопросы!)
</p>
<div>
    <img scr="assets/img/contacts.jpg" alt="img">
</div>

