p{
    text-align: center;
    background-color: #14A098;
    width: 400px;
    margin: auto;
    border-radius: 8px;
}
img{
    width: 600px;
    height: 400px;
    margin-left: 30%;
    margin-top: 3%;
    border-radius: 8px;
}