<link rel="stylesheet" href="service.component.css">
<div>
    <h1 style="text-align: center;">Профессии, связанные с сервисом и обслуживанием.</h1>
<h2 >Описание:</h2>
<p><b>Сфера сервиса и обслуживания</b> - это виды коммерческих и некоммерческих услуг, оказываемых организациями, предприятиями и физическими лицами.</p>
<h2 >Преимущества и недостатки:</h2>
<table class="table">
    <tr>
      <th class="th">Преимущества</th>
      <th class="th" >Недостатки</th>
    </tr>
    <tr>
        <td class="td">Можно найти работу без опыта.</td>
        <td class="td">Маленькая заработная плата.</td>
    </tr>
    <tr>
        <td class="td">Многие работодатели предлагают удобный график работы.</td>
        <td class="td">Медленный карьерный рост.</td>
    </tr>
    <tr>
        <td class="td">Возможно частичное трудоустройство.</td>
        <td class="td">Повышенные требования к сотруднику.</td>
    </tr>
    <tr>
        <td class="td">Возможность карьерного роста.</td>
    </tr>
  </table>
<h2 >Возможные профессии:</h2>
<ul>
    <li><b>Бармен</b> приветствует гостей своего заведения, выявляет их вкусовые предпочтения, информирует об ассортименте, предлагает гостям подходящие варианты напитков, принимает заказы и разливает порции алкогольных и безалкогольных напитков, включая приготовленные им самим коктейли.</li>
    <li><b>Горничная</b> убирает, следит за частотой помещений.</li>
    <li><b>Грузчик</b> занимается погрузкой, разгрузкой, переносом, перекатыванием и любыми другими способами перемещения каких-либо предметов в пространстве. </li>
    <li><b>Няня</b> осуществляет уход за чужими детьми, обучает их, отвечает за режим питания и посещение развивающих занятий.</li>
    <li><b>Официанты</b> занимаются обслуживанием посетителей: консультируют, берут заказы, приносят готовые блюда и напитки. </li>
    <li><b>Почтальон</b> группирует газеты, журналы по улицам и домам, подписывая адреса,сортирует письма, извещения и доставляет ценные письма и бандероли, пенсии, денежные переводы.</li>
    <li><b>Дворник</b> убирает улицу или двор.</li>
    <li><b>Садовник</b> поддерживает дизайн сайта.</li>
    <li><b>Швейцар</b> осуществляет встречу посетителей у входной двери в какое-либо заведение.</li>
    <li><b>Продавец</b> работает в торговом зале и предоставляет ряд услуг.</li>
</ul>
<h2 >Качества, которые ценятся в этой сфере:</h2>
<ol>
    <li>Умение вести себя в различной обстановке .</li>
    <li>Устранение существующих в обществе недостатков(цель критики).</li>
    <li>Умение вежливо разговаривать с людьми.</li>
</ol>
<h2 >Зарплата: </h2>
<h2 >Зарплата: </h2>
<table class="table">
    <tr>
        <th class="th">Без опыта</th>
        <th class="th" >С опытом 1-3 года</th>
        <th class="th">С опытом 3-6 лет</th>
        <th class="th">С опытом больше 6 лет</th>
      </tr>
      <tr>
          <td class="td">50 000 ₽</td>
          <td class="td">80 000 ₽</td>
          <td class="td">130 000 ₽</td>
          <td class="td">170 000 ₽</td>
      </tr>
</table>
<p>Все данные взяты с сайта
    <a href="https://hh.ru">https://hh.ru/</a>
    2023 год
</p>
<h2 >Профильные предметы, которые могут понадобиться на ЕГЭ: </h2>
<ul>
    <li>Иностранный язык;</li>
    <li>Литература;</li>
    <li>Обществознание;</li>
    <li>История;</li>
    <li>Русский язык.</li>
</ul>
<h2 >Лучшие институты Москвы:</h2>
<ul>
    <li>Российская академия народного хозяйства и государственной службы при Президенте Российской Федерации;</li>
    <li>Российский университет дружбы народов;</li>
    <li>Российский государственный университет имени А.Н. Косыгина (Технологии. Дизайн. Искусство);</li>
    <li>Российский экономический университет имени Г.В. Плеханова;</li>
    <li>Российский государственный аграрный университет - МСХА имени К.А. Тимирязева.</li>
</ul>
<a href="https://postupi.online/vuzi/">Больше об институтах и факультетах</a>
<br>
<br>
</div>