
<link rel="stylesheet" href="proflist.component.css">
<!-- style="text-align: center;" -->
<div align="center">
    <a routerLink="/proflist/IT"><button  style="background-color:rgb(150, 163, 236);" >IT</button></a> 
    <a routerLink="/proflist/Economic"><button style="background-color:rgb(239, 157, 80);">Экономика</button></a>
    <a routerLink="/proflist/Medicine"><button  style="background-color:rgb(115, 184, 120);">Медицина</button></a>
<a routerLink="/proflist/Science"><button style="background-color:rgb(80, 77, 139);" >Наука</button></a>
<a routerLink="/proflist/Technic"><button  style="background-color:rgb(86, 87, 94);">Техника</button></a>
<p></p>
<a routerLink="/proflist/Transport"><button  style="background-color:rgb(165, 104, 239);">Транспорт</button></a>
<a routerLink="/proflist/Creativity"><button style="background-color:rgb(231, 110, 120);">Творчество</button></a>
<a routerLink="/proflist/Service"><button  style="background-color:rgb(38, 52, 130);">Обслуживание</button></a>
<a routerLink="/proflist/Teachers"><button  style="background-color:rgb(231, 227, 116);">Педагогика</button></a>
<a routerLink="/proflist/Jurisprudence"><button  style="background-color:rgb(244, 185, 102);">Юриспруденция</button></a>
</div>


<p> </p>
<router-outlet></router-outlet>

