
<link rel="stylesheet" href="proflist.component.css">
<!-- style="text-align: center;" -->
<div align="center">
    <a routerLink="/proflist/IT"><button  style="background-color: #50e9e1;" >IT</button></a> 
    <a routerLink="/proflist/Economic"><button style="background-color: #0F292F; color: white">Экономика</button></a>
    <a routerLink="/proflist/Medicine"><button  style="background-color: #50e9e1;">Медицина</button></a>
<a routerLink="/proflist/Science"><button style="background-color: #0F292F ; color: white">Наука</button></a>
<a routerLink="/proflist/Technic"><button  style="background-color: #50e9e1;">Техника</button></a>
<p></p>
<a routerLink="/proflist/Transport"><button  style="background-color: #0F292F ; color: white">Транспорт</button></a>
<a routerLink="/proflist/Creativity"><button style="background-color: #50e9e1;">Творчество</button></a>
<a routerLink="/proflist/Service"><button  style="background-color: #0F292F; color: white">Обслуживание</button></a>
<a routerLink="/proflist/Teachers"><button  style="background-color: #50e9e1;">Педагогика</button></a>
<a routerLink="/proflist/Jurisprudence"><button  style="background-color: #0F292F; color: white">Юриспруденция</button></a>
</div>


<p> </p>
<router-outlet></router-outlet>

