<style>
    .table{
        border-collapse: collapse;
        border: 2px solid rgb(0, 0, 0);
    }
    .th {
        border: 2px solid rgb(0, 0, 0);
        text-align: center;
    }
    .td{
        border: 2px solid rgb(0, 0, 0);
    }
</style>
<h1 style="text-align: center;">Профессии, связанные с педагогикой.</h1>
<h2 style="font-weight: 600;">Описание:</h2>
<p><b>Педагогическая профессия</b> – это вид трудовой деятельности, являющийся источником к существованию специально подготовленных в педагогических учебных заведениях людей, содержанием и целью которой является, создание условий для становления и развития личности другого человека.</p>
<h2 style="font-weight: 600;">Преимущества и недостатки:</h2>
<table class="table">
    <tr>
      <th class="th">Преимущества</th>
      <th class="th" >Недостатки</th>
    </tr>
    <tr>
        <td class="td">Возможность постоянного профессионального роста.</td>
        <td class="td">Сравнительно небольшая оплата труда.</td>
    </tr>
    <tr>
        <td class="td">Возможность развертывать собственные программы и методики.</td>
        <td class="td">Большие нагрузки.</td>
    </tr>
    <tr>
        <td class="td">Длительный оплачиваемый отпуск в летнее время.</td>
        <td class="td">Много бюрократической работы с документами и отчетами.</td>
    </tr>
    <tr>
        <td class="td">Возможность дополнительного заработка частными уроками.</td>
        <td class="td">Необходимость регулярно подтверждать квалификацию.</td>
    </tr>
  </table>
<h2 style="font-weight: 600;">Возможные профессии:</h2>
<ul>
    <li><b>Учитель</b> занимается не просто передачей общих или предметных навыков, он непрерывно совмещает это с воспитательной работой, к нему идут за советом, просят о дополнительных занятиях.</li>
    <li><b>Воспитатель</b> выполняет воспитательную работу в учебно-воспитательном учреждении.</li>
    <li><b>Декан</b> возглавляет факультет, руководит учебной, воспитательной и научной работой.</li>
    <li><b>Логопед</b> специализируется на речевых нарушениях и помогает их скорректировать, устранить.</li>
    <li><b>Психологи</b> помогают детям преодолевать сложные моменты жизни, формировать модели поведения в критических ситуациях. Однако почти половину рабочего времени приходится отдавать бумажной волоките: составлению психологических характеристик, отчетов, планов работ и т.д.</li>
    <li><b>Ректор</b> руководит высшим учебным заведением.</li>
    <li><b>Тифлопедагог</b> осуществляет воспитание и обучение детей с нарушениями зрения, а также реабилитацию поздноослепших.</li>
</ul>
<h2 style="font-weight: 600;">Качества, которые ценятся в этой сфере:</h2>
<ol>
    <li>Умение вести себя в различной обстановке.</li>
    <li>Дисциплинированность.</li>
    <li>Умение вежливо разговаривать с людьми.</li>
    <li>Умение ставить цели и уметь организовываться на пути к их достижению.</li>
</ol>
<h2 style="font-weight: 600;">Зарплата:</h2>
<table class="table">
    <tr>
        <th class="th">Без опыта</th>
        <th class="th" >С опытом 1-3 года</th>
        <th class="th">С опытом 3-6 лет</th>
        <th class="th">С опытом больше 6 лет</th>
      </tr>
      <tr>
          <td class="td">50 000 ₽</td>
          <td class="td">70 000 ₽</td>
          <td class="td">100 000 ₽</td>
          <td class="td">120 000 ₽</td>
      </tr>
</table>
<p>Все данные взяты с сайта
    <a href="https://hh.ru/">https://hh.ru/</a>
    2023 год
</p>
<h2 style="font-weight: 600;">Профильные предметы, которые могут понадобиться на ЕГЭ: </h2>
<ul>
    <li>Обществознание;</li>
    <li>Русский язык;</li>
    <li>Математика;</li>
    <li>Профильный предмет.</li>
</ul>
<h2 style="font-weight: 600;">Лучшие институты Москвы:</h2>
<ul>
    <li>Московский городской педагогический университет;</li>
    <li>Московский государственный областной педагогический университет;</li>
    <li>Институт международного образования МПГУ;</li>
    <li>Московский институт психоанализа;</li>
</ul>
<a href="https://postupi.online/vuzi/">Больше об институтах и факультетах</a>
<br>
<br>

