<style>
    .table{
        border-collapse: collapse;
        border: 2px solid rgb(0, 0, 0);
    }
    .th {
        border: 2px solid rgb(0, 0, 0);
        text-align: center;
    }
    .td{
        border: 2px solid rgb(0, 0, 0);
    }
</style>
<h1 style="text-align: center;">Профессии, связанные с экономикой</h1>
<h2 style="font-weight: 600;">Описание:</h2>
<p>
    <b>Экономика –</b> 
    совокупность наук о ведении хозяйства, вид социальной науки, изучающий взаимоотношение людей в процессе производства, потребления, распределения и обмена товаров или услуг.
</p>
<h2 style="font-weight: 600;">Преимущества и недостатки</h2>
<table class="table">
    <tr>
      <th class="th">Преимущества</th>
      <th class="th" >Недостатки</th>
    </tr>
    <tr>
        <td class="td">Востребованность специальности на рынке труда, дающая возможность легко найти работу с достаточно высокой зарплатой.</td>
        <td class="td">Высокая ответственность: от работы экономиста зависит успех предприятия. </td>
    </tr>
    <tr>
        <td class="td">Универсальность профессии позволяет найти работу в любой сфере экономики.</td>
        <td class="td"> Довольно большая конкуренция на рынке труда из-за переизбытка специалистов.</td>
    </tr>
    <tr>
        <td class="td">Обладая специальными экономическими знаниями, можно открыть собственный бизнес, не рискуя стать убыточным</td>
        <td class="td">Кропотливая работа с цифрами.</td>
    </tr>
    <tr>
        <td class="td">Финансовая грамотность, присущая экономистам, помогает правильно управлять личными финансами.</td>
    </tr>
  </table>
<h2 style="font-weight: 600;">Возможные профессии:</h2>
<ul>
    <li><b>Аудитор (финансовый, налоговый аудитор)</b> проверяет налоговую и финансовую документацию организации, оценивает, насколько эффективно она работает, и дает рекомендации руководству, как исправить выявленные ошибки. Аудитор может проводить ревизию со стороны государства, но чаще это аналитик и консультант, которого приглашают, чтобы решить финансовые задачи. На основе его проверки принимают взвешенное решение, куда дальше развиваться компании.</li>
    <li><b>Аналитики</b> собирают данные об эффективности бизнеса, составляет статистические отчеты, определяют области, требующие улучшения, и создают рекомендуемый план оптимизации процессов.</li>
    <li><b>Брокер</b> является узкими специалистом, который выполняет роль посредника между участниками сделки, представляет интересы своего заказчика. Наиболее распространены биржевые брокеры, которые работают на рынке ценных бумаг.</li>
    <li><b>Бухгалтер</b> ведет  бухгалтерский учёт в компании, занимается документооборотом, подготовкой и отправкой бухгалтерской и налоговой отчетности в контролирующие органы.</li>
    <li><b>Маркетолог</b> создает стратегию продвижения продуктов и услуг, чтобы увеличить продажи и общий доход компании. Для этого он исследует потребительский рынок, следит за трендами, участвует в создании рекламных кампаний и многое другое.</li>
    <li><b>Менеджер</b> берет на себя управленческие функции.</li>
    <li><b>Трейдер</b> — торговец, действующий по собственной инициативе и стремящийся извлечь прибыль непосредственно из процесса торговли. Обычно подразумевается торговля ценными бумагами (акциями, облигациями, фьючерсами, опционами) на фондовой бирже.</li>
</ul>
<h2 style="font-weight: 600;">Качества, которые ценятся в этой сфере:</h2>
<ol>
    <li>Аналитический склад ума, логическое мышление, внимательность.</li>
    <li>Усидчивость, способность к самоорганизации, ответственность в решении поставленных задач.</li>
    <li>Экстраверсия, подразумевающая разговорчивость и общительность</li>
    <li>Коммуникабельность, умение работать в коллективе, вежливость.</li>
    <li>Эмоциональная стабильность.</li>
</ol>
<h2 style="font-weight: 600;">Зарплата: </h2>
<table class="table">
    <tr>
        <th class="th">Без опыта</th>
        <th class="th" >С опытом 1-3 года</th>
        <th class="th">С опытом 3-6 лет</th>
        <th class="th">С опытом больше 6 лет</th>
      </tr>
      <tr>
          <td class="td">55 000 ₽</td>
          <td class="td">80 000 ₽</td>
          <td class="td">100 000 ₽</td>
          <td class="td">125 000 ₽</td>
      </tr>
</table>
<p>Все данные взяты с сайта
    <a href="https://hh.ru/">https://hh.ru/</a>
    2023 год
</p>
<h2>Профильные предметы, которые могут понадобиться на ЕГЭ: </h2>
<ul>
    <li>Иностранный язык;</li>
    <li>Математика;</li>
    <li>Обществознание;</li>
    <li>История;</li>
    <li>Русский язык.</li>
</ul>

<h2 style="font-weight: 600;">Лучшие институты Москвы:</h2>
<ul>
    <li>Финансовый университет при Правительстве РФ;</li>
    <li>Московский государственный университет имени М.В. Ломоносова;</li>
    <li>МГИМО МИД России;</li>
    <li>Национальный исследовательский университет "Высшая школа экономики";</li>
    <li>Национальный исследовательский ядерный университет "МИФИ".</li>
</ul>
<a href="https://postupi.online/vuzi/">Больше об институтах и факультетах</a>
<br>
<br>

