<style>
    .table{
        border-collapse: collapse;
        border: 2px solid rgb(0, 0, 0);
    }
    .th {
        border: 2px solid rgb(0, 0, 0);
        text-align: center;
    }
    .td{
        border: 2px solid rgb(0, 0, 0);
    }
</style>
    <h1 style="text-align: center;">Профессии, связанные с творчеством.</h1>
<h2 style="font-weight: 600;">Описание:</h2>
<p><b>Творчество</b> - это процесс деятельности, в результате которого создаются качественно новые объекты и духовные ценности или итог создания объективно нового.</p>
<h2 style="font-weight: 600;">Преимущества и недостатки</h2>
<table class="table">
    <tr>
      <th class="th">Преимущества</th>
      <th class="th" >Недостатки</th>
    </tr>
    <tr>
        <td class="td">Отсутствие рутины и разнообразный рабочий график.</td>
        <td class="td">Нестабильные зарплата и график.</td>
    </tr>
    <tr>
        <td class="td">Высокие гонорары у известных и признанных.</td>
        <td class="td">Для карьеры необходима доля удачи.</td>
    </tr>
    <tr>
        <td class="td">Возможность посмотреть мир, путешествуя по гастролям и поездкам.</td>
    </tr>
  </table>
<h2 style="font-weight: 600;">Возможные профессии:</h2>
<ul>
    <li><b>Актер</b> исполняет различные роли в спектаклях, кино, рекламных роликах, клипах.</li>
    <li><b>Артист цирка</b> исполняет различные трюки, фокусы и роли в цирке.</li>
    <li><b>Вокалист</b> поет, исполняет различные вокальные партии.</li>
    <li><b>Визажист</b> предстваляет индустрию красоты, занимается созданием новых образов для клиентов салона красоты.</li>
    <li><b>Музыкант</b> дирижирует, сочиняет или исполняет музыку.</li>
    <li><b>Звукорежиссер</b> занимается составлением музыкальной композиции, сопровождения какого-либо произведения.</li>
    <li><b>Кондитер</b> занимается производством кондитерских изделий: тортов, мороженого, шоколада, зефира, печенья и т.д.</li>
    <li><b>Писатели</b> создают различные формы литературного искусства и творческого письма.</li>
    <li><b>Хореограф</b> занимается постановкой или обучением танцев.</li>
    <li><b>Фотограф</b> запечатлевает события, лица, природу или предметы.</li>
    <li><b>Художник</b> создает художественные картины, образы, изображения и графику, предназначенные для эстетического восприятия окружающего мира.</li>
</ul>
<h2 style="font-weight: 600;">Качества, которые ценятся в этой сфере:</h2>
<ol>
    <li>Широкий кругозор.</li>
    <li>Образное мышление.</li>
    <li>Яркое и богатое воображение.</li>
</ol>
<h2  style="font-weight: 600;">Зарплата:</h2>
<table class="table">
    <tr>
        <th class="th">Без опыта</th>
        <th class="th" >С опытом 1-3 года</th>
        <th class="th">С опытом 3-6 лет</th>
        <th class="th">С опытом больше 6 лет</th>
      </tr>
      <tr>
          <td class="td">30 000 ₽</td>
          <td class="td">70 000 ₽</td>
          <td class="td">110 000 ₽</td>
          <td class="td">200 000 ₽</td>
      </tr>
</table>
<p>Все данные взяты с сайта
    <a href="https://hh.ru/">https://hh.ru/</a>
    2023 год
</p>
<h2 style="font-weight: 600;">Профильные предметы, которые могут понадобиться на ЕГЭ: </h2>
<ul>
    <li>Иностранный язык;</li>
    <li>Литература;</li>
    <li>Обществознание;</li>
    <li>История;</li>
    <li>Русский язык.</li>
</ul>
<h2 style="font-weight: 600;">Лучшие институты Москвы:</h2>
<ul>
    <li>Национальный исследовательский университет "Высшая школа экономики";</li>
    <li>Московский государственный университет имени М.В. Ломоносова;</li>
    <li>Московский государственный институт музыки имени А.Г. Шнитке;</li>
    <li>Российский институт театрального искусства – ГИТИС;</li>
    <li>Российская академия музыки имени Гнесиных;</li>
    <li>Российский государственный университет им. А.Н. Косыгина (Технологии. Дизайн. Искусство).</li>
</ul>
<a href="https://postupi.online/vuzi/">Больше об институтах и факультетах</a>
<br>
<br>
