<style>
    .table{
        border-collapse: collapse;
        border: 2px solid rgb(0, 0, 0);
    }
    .th {
        border: 2px solid rgb(0, 0, 0);
        text-align: center;
    }
    .td{
        border: 2px solid rgb(0, 0, 0);
    }
</style>
<h1 style="text-align: center;">Профессии, связанные с медициной</h1>
<h2 style="font-weight: 600;">Описание:</h2>
<p><b>Медицина </b> - это наука и практика ухода за пациентом, управления диагностикой, прогнозом, профилактикой, лечением, паллиацией его травмы или заболевания и укрепления его здоровья.</p>
<h2 style="font-weight: 600;">Преимущества и недостатки:</h2>
<table class="table">
    <tr>
      <th class="th">Преимущества</th>
      <th class="th" >Недостатки</th>
    </tr>
    <tr>
        <td class="td">Восстребованная работа с высокой зарплатой.</td>
        <td class="td">Нужно иметь большой опыт, чтобы быть принятым на работу.</td>
    </tr>
    <tr>
        <td class="td">Уникальные знания, которые понадобятся и в повседневной жизни.</td>
        <td class="td">Плотный график, больше количество переработки.</td>
    </tr>
    <tr>
        <td class="td"> Хорошие перспективы карьерного роста – вплоть до открытия собственной клиники</td>
        <td class="td">Огромная ответственность за жизнь другого.</td>
    </tr>
    <tr>
        <td>Постоянное развитие в профессии в плотном контакте с российскими и зарубежными коллегами, участие в международных конференциях</td>
        <td class="td">Продолжительный срок обучения.</td>
    </tr>
  </table>
<h2 style="font-weight: 600;">Возможные профессии:</h2>
<ul>
    <li><b>Хирург -</b> одна из самых сложных специализаций. В его обязанности входит проведение малых и больших операций на внутренних органах, в области грудной клетки, в зоне головного мозга и на суставах. В большинстве ситуаций врачу необходимо принимать ответственные решения, от которых зависит жизнь человека.</li>
    <li><b>Уролог</b> лечит заболевания мочеполовой системы женщин и мужчин. В компетенцию доктора входят проблемы с половыми и репродуктивными органами, болезни почек и мочевого пузыря, лечение простатита, цистита и бесплодия.</li>
    <li><b>Дерматолог</b> диагностирует и лечит косметологические дефекты кожи. К их числу относится пигментация, аллергические проявления, угревая сыпь, опухоли на коже лица, внешние проявления, спровоцированные изменением гормонального фона в организме.</li>
    <li><b>Детский врач (педиатр)</b> выявляет болезни и причины их возникновения у маленьких пациентов. Назначает курс лечения, схемы обследования, наблюдает за течением заболевания до полного выздоровления ребенка.</li>
    <li><b>Онколог</b> специализируется на выявлении и лечении злокачественных опухолей, рака на различных стадиях. Если проблема диагностирована вовремя, назначает лекарства, курс химиотерапии или полномасштабные операции с привлечением хирургов-онкологов.</li>
    <li><b>Стоматолог</b> в зоне ответственности – профилактика и лечение кариеса, болезни ротовой полости, пародонтита. Также стоматологи удаляют и протезируют зубы, корректируют форму челюсти, исправляют прикус, отбеливают зубную эмаль.</li>
    <li><b>Психиатр -</b> специалист по душевному здоровью. В его компетенции входят неврозы, расстройства личности, психические заболевания, депрессии и неврастении. Также психиатр работает с биполярными расстройствами, шизофренией.</li>
    <li><b>Акушер-гинеколог</b> принимает роды, проводит гинекологические операции. Наблюдает беременность с момента обращения в женскую консультацию до появления ребенка на свет, с последующей послеродовой диагностикой.</li>
    <li><b>Терапевт</b> определяет признаки заболевания при первичном осмотре пациента. От профессионализма врача зависит своевременная помощь больному с привлечением узких специалистов, диагностических исследований и назначением анализов.</li>
</ul>
<h2 style="font-weight: 600;">Качества, которые ценятся в этой сфере:</h2>
<ol>
    <li>Эмпатия - готовность помогать людям.</li>
    <li>Внимательность и усидчивость.</li>
    <li>Эмоциональная стабильность, готовность к стрессам и освоению больших объемов информации.</li>
    <li>Коммуникабельность, вежливость, умение работать в команде.</li>
</ol>
<h2 style="font-weight: 600;">Зарплата: </h2>
<p>Зарплата врачей зависит от нескольких факторов: специальности, опыта и уровня профессионализма, региона РФ, в котором предстоит работать. Диапазон зарплат медицинских работников с высшим образованием составляет от 45 000 до 300 000 и более рублей в месяц. Самый низкий доход у персонала муниципальных учреждений. В частных клиниках специалисту на старте карьеры определяют высокий оклад, но его необходимо оправдать.</p>
<p>Все данные взяты с сайта
    <a href="https://proforientator.ru/">https://proforientator.ru/</a>
    2023 год
</p>
<h2 style="font-weight: 600;">Профильные предметы, которые могут понадобиться на ЕГЭ: </h2>
<ul>
    <li>Биология;</li>
    <li>Химия;</li>
    <li>Русский язык;</li>
    <li>Математика.</li>
</ul>
<h2 style="font-weight: 600;">Лучшие институты Москвы:</h2>
<ul>
    <li>Московский государственный университет имени М.В. Ломоносова; </li>
    <li>Национальный исследовательский ядерный университет "МИФИ";</li>
    <li>Первый Московский государственный медицинский университет имени И.М. Сеченова;</li>
    <li>Российский национальный исследовательский медицинский университет имени Н.И. Пирогова; </li>
    <li>Московский государственный медико-стоматологический университет имени А.И. Евдокимова.</li>
</ul>
<a href="https://postupi.online/vuzi/">Больше об институтах и факультетах</a>
<br>
<br>
