<link rel="stylesheet" href="technic.component.css">
<div>
    <h1 style="text-align: center;">Профессии, связанные с техникой</h1>
<h2 >Описание:</h2>
<p><b>Технические профессии </b>- это все специальности, неразрывно связанные с техникой, различными устройствами, машинами, оборудованием и программным обеспечением.</p>
<h2 >Преимущества и недостатки:</h2>
<table class="table">
    <tr>
      <th class="th">Преимущества</th>
      <th class="th" >Недостатки</th>
    </tr>
    <tr>
        <td class="td">Много направлений деятельности.</td>
        <td class="td">Воздействие вредных факторов на здоровье, большая возможность получить травму.</td>
    </tr>
    <tr>
        <td class="td">Невысокая конкуренция.</td>
        <td class="td">Переработки и неудобный график</td>
    </tr>
  </table>
<h2 >Возможные профессии:</h2>
<ul>
    <li><b>Автомеханик (автослесарь) –</b> специалист, занимающийся ремонтом и техническим обслуживанием автомобиля с помощью диагностического оборудования и приборов. По выявленным характеристикам он определяет причины поломки, устраняет или предупреждает их. Помимо ликвидации небольших неисправностей и косметического ремонта, автомобильные организации и автомеханики в их штате занимаются полным восстановлением разбитых машин.</li>
    <li><b>Архитектор</b> занимается организацией пространства в целом, проектирует сооружение, руководит строительством, решает формальные вопросы, следит за документацией. </li>
    <li><b>Механик</b> ремонтирует и обслуживает разные технические приборы (порой даже те, что не связаны с механикой). Среди подобных устройств есть как те, что используются на крупных производствах, так и те, которыми мы пользуемся повсеместно, в быту.</li>
    <li><b>Инженер</b> создает новые технические устройства или технологические процессы либо совершенствует уже имеющиеся. Ремонт и восстановление техники также относится к инженерной сфере деятельности. </li>
    <li><b>Токарь</b> занимается изготовлением деталей из металла, дерева, стекла, пластмассы с помощью, специального вращающегося станка, который их обтачивает.</li>
    <li><b>Энергетик </b>- человек, занимающийся проектированием и монтажом электросетей, а также контролем их работы и ремонтом.</li>
    <li><b>Видеомонтажёр</b> создаёт видео из исходного материала. Он нарезает отснятое на клипы, отсекает всё лишнее и склеивает части таким образом, чтобы в результате получился полноценный ролик. Готовый продукт должен полностью соответствовать первоначальной задумке заказчика. </li>
    <li><b>Столяр </b>- это ремесленник и торговец, который строит вещи, соединяя куски дерева, особенно более легкие и декоративные работы, чем те, которые делает плотник, включая мебель и "фурнитуру" дома, корабля и т.д.</li>
    <li><b>Шахтёр </b>- специалист, добывающий подземные полезные ископаемые.</li>
</ul>
<h2 >Качества, которые ценятся в этой сфере:</h2>
<ol>
    <li>Математический склад ума.</li>
    <li>Ответственность.</li>
    <li>Терпеливость и аккуратность.</li>
    <li>Высокая концентрация внимания, хорошая память.</li>
</ol>
<h2 >Зарплата:</h2>
<table class="table">
    <tr>
        <th class="th">Без опыта</th>
        <th class="th" >С опытом 1-3 года</th>
        <th class="th">С опытом 3-6 лет</th>
        <th class="th">С опытом больше 6 лет</th>
      </tr>
      <tr>
          <td class="td">50 000 ₽</td>
          <td class="td">75 000 ₽</td>
          <td class="td">100 000 ₽</td>
          <td class="td">120 000 ₽</td>
      </tr>
</table>
<p>Все данные взяты с сайта
    <a href="https://habr.com/">https://habr.com/</a>
    2023 год
</p>
<h2 >Профильные предметы, которые могут понадобиться на ЕГЭ: </h2>
<ul>
    <li>Математика;</li>
    <li>Физика;</li>
    <li>Обществознание;</li>
    <li>Химия;</li>
    <li>Русский язык;</li>
    <li>Биология;</li>
    <li>Информатика.</li>
</ul>
<h2 >Лучшие институты Москвы:</h2>
<ul>
    <li>Университет науки и технологий МИСиС; </li>
    <li>МИРЭА – Российский технологический университет;</li>
    <li>Национальный исследовательский ядерный университет "МИФИ";</li>
    <li>Московский государственный технический университет имени Н. Э. Баумана;</li>
    <li>Московский автомобильно-дорожный государственный технический университет.</li>
</ul>
<a href="https://postupi.online/vuzi/">Больше об институтах и факультетах</a>
<br>
<br>
</div>
