<link rel="stylesheet" href="science.component.css">
<div>
    <h1 style="text-align: center;">Профессии, связанные с наукой</h1>
<h2 >Описание:</h2>
<p><b>Наука </b> - это деятельность, направленная на выработку и систематизацию объективных знаний о действительности.</p>
<h2 >Преимущества и недостатки:</h2>
<table class="table">
    <tr>
      <th class="th">Преимущества</th>
      <th class="th" >Недостатки</th>
    </tr>
    <tr>
        <td class="td">Гибкий график работы, возможность трудиться удалённо. </td>
        <td class="td">Нужно иметь большой опыт, чтобы быть принятым на работу.</td>
    </tr>
    <tr>
        <td class="td">Получение грантов и премий (в том числе государственных).</td>
        <td class="td">Трудоёмкий и длительный процесс обучения.</td>
    </tr>
    <tr>
        <td class="td">Возможность совершить великое открытие.</td>
        <td class="td">Невысокая оплата труда.</td>
    </tr>
  </table>
<h2 >Возможные профессии:</h2>
<ul>
    <li><b>Биолог</b> изучает жизненные аспекты различных организмов. То, как они появились и каким образом эволюционировали, как росли и развивались, с помощью каких способов распределялись по планете. Внимание специалистов привлекает все живое: от людей и животных до мельчайших микробов.</li>
    <li><b>Биотехнолог</b> проводит усовершенствование биологических процессов и использует клетки микроорганизмов, бактерий, грибов, дрожжей, животных и ферментов для производства и изменения продукта в интересах человека.</li>
    <li><b>Геолог</b> изучает участки геосферы на предмет содержания в них минералов. Он проводит разведку и поиск залежей полезных ископаемых. На основе собранных геологом материалов проектируются и строятся фабрики и заводы по добыче и переработке полезных ископаемых.</li>
    <li><b>Химик —</b> это специалист, занимающийся изучением строения веществ, их превращением и взаимодействием. </li>
    <li><b>Физик</b> занимается изучением природы, материи, явлений. Главный инструмент физика – исследования. Главный аргумент – доказательная база. Главная цель – совершенствование окружающего пространства.</li>
    <li><b>Эколог</b> занимается исследованием экосистем и оценкой природного разнообразия, поведения различных организмов в этих системах.</li>
    <li><b>Астроном –</b> специалист, как правило имеющий образование в области физики и радиофизики, владеющий математическими методами исследования, изучающий небесные объекты, например, звёзды, планеты и их спутники, кометы. </li>
    <li><b>Нанотехнолог —</b> специалист по нанотехнологиям, учёный, который исследует материалы на молекулярном и атомарном уровне и создаёт объекты из компонентов, обладающих наноразмерами.</li>
    <li><b>Археолог –</b> это историк, изучающий быт и культуру древних людей по различным артефактам.</li>
</ul>
<h2 >Качества, которые ценятся в этой сфере:</h2>
<ol>
    <li>Аналитический склад ума.</li>
    <li>Способность работать с большими объёмами информации.</li>
    <li>Терпеливость и аккуратность.</li>
    <li>Высокая концентрация внимания, хорошая память.</li>
    <li>Умение чётко и грамотно излагать мысли.</li>
</ol>
<h2 >Зарплата:</h2>
<p>Младшие и старшие научные сотрудники в среднем зарабатывают 40 000-55 000 ₽, руководители научных организаций - 95 000 ₽.</p>
<p>Все данные взяты с сайта
    <a href="https://hh.ru/">https://hh.ru/</a>
    2023 год
</p>
<h2 >Профильные предметы, которые могут понадобиться на ЕГЭ: </h2>
<ul>
    <li>Физика;</li>
    <li>Биология;</li>
    <li>Математика;</li>
    <li>Химия;</li>
    <li>Русский язык.</li>
</ul>
<h2 >Лучшие институты Москвы:</h2>
<ul>
    <li>Московский государственный университет имени М.В. Ломоносова;</li>
    <li>Национальный исследовательский ядерный университет "МИФИ";</li>
    <li>Московский государственный технический университет имени Н. Э. Баумана;</li>
    <li>Московский физико-технический институт;</li>
    <li>Национальный исследовательский университет "Высшая школа экономики".</li>
</ul>
<a href="https://postupi.online/vuzi/">Больше об институтах и факультетах</a>
<br>
<br>
</div>
