<link rel="stylesheet" href="transport.component.css">
<div>
    <h1 style="text-align: center;">Профессии, связанные с транспортом</h1>
<h2>Описание:</h2>
<p><b>Транспортные профессии </b>- ответственные специальности, представители которых работают в сфере пассажирских и коммерческих перевозок, осуществляют управление транспортными предприятиями, оказывают посреднические услуги, а также занимаются частной деятельностью.</p>
<h2>Преимущества и недостатки:</h2>
<table class="table">
    <tr>
      <th class="th">Преимущества</th>
      <th class="th" >Недостатки</th>
    </tr>
    <tr>
        <td class="td">Посещение разных городов или стран (чаще всего только проездом)</td>
        <td class="td">Высокая степень ответственности.</td>
    </tr>
    <tr>
        <td class="td">Быстрое и доступное обучение</td>
        <td class="td">Часто ненормированный рабочий день.</td>
    </tr>
    <tr>
        <td class="td">Тренировка памяти через изучение местности и запоминание адресов.</td>
        <td class="td">Сидячая работа, которая может влиять на здоровье.</td>
    </tr>
    <tr>
        <td class="td">Восстребованность.</td>
    </tr>
  </table>
<h2>Возможные профессии:</h2>
<ul>
    <li><b>Стюардесса</b> занимается обслуживанием пассажиров самолета или водного судна, следит за их безопасностью, оказывает первую медицинскую помощь.</li>
    <li><b>Экспедитор</b> занимается доставкой товаров, грузов с одного объекта на другой.</li>
    <li><b>Автоэксперт</b>изучает техническое состояние и определение механизма ДТП, дорожной обстановки и действий участников, обстоятельств, способствовавших возникновению происшествий. Для работы автоэкспертом необходимо высшее образование.</li>
    <li><b>Дальнобойщик</b> осуществляет доставки грузов из точки А в точку Б согласно установленному графику и маршруту. </li>
    <li><b>Лётчик</b> управляет летательным аппаратом, находясь на его борту (самолётом, вертолётом, планёром, дирижаблем или иным).</li>
    <li><b>Машинист</b>поезда управляет поездами на железных дорогах (метро, электропоездами, электричками, грузовыми и пассажирскими поездами). </li>
    <li><b>Автозаправщик - </b>сотрудник автозаправочной станции (АЗС), заправляющий автомобили клиентов топливом.</li>
    <li><b>Столяр - </b>это ремесленник и торговец, который строит вещи, соединяя куски дерева, особенно более легкие и декоративные работы, чем те, которые делает плотник, включая мебель и "фурнитуру" дома, корабля и т.д.</li>
    <li><b>Диспетчер - </b>это работник связи, который получает и передает информацию для координации действий другого персонала и транспортных средств, осуществляющих обслуживание.</li>
</ul>
<h2>Качества, которые ценятся в этой сфере:</h2>
<ol>
    <li>Внимательность и ответственность.</li>
    <li>Хорошая ориентация</li>
    <li>Терпеливость и аккуратность.</li>
    <li>Высокая концентрация внимания, хорошая память.</li>
</ol>
<h2>Зарплата:</h2>
<table class="table">
    <tr>
        <th class="th">Без опыта</th>
        <th class="th" >С опытом 1-3 года</th>
        <th class="th">С опытом 3-6 лет</th>
        <th class="th">С опытом больше 6 лет</th>
      </tr>
      <tr>
          <td class="td">70 000 ₽</td>
          <td class="td">90 000 ₽</td>
          <td class="td">110 000 ₽</td>
          <td class="td">120 000 ₽</td>
      </tr>
</table>
<p>Все данные взяты с сайта
    <a href="https://hh.ru/">https://hh.ru/</a>
    2023 год
</p>
<h2>Профильные предметы, которые могут понадобиться на ЕГЭ: </h2>
<ul>
    <li>География;</li>
    <li>Обществознание;</li>
    <li>Русский язык;</li>
    <li>Физика;</li>
    <li>Биология;</li>
    <li>Математика.</li>
</ul>
<h2>Лучшие институты Москвы:</h2>
<ul>
    <li>Московский государственный технический университет имени Н. Э. Баумана;</li>
    <li>Московский государственный технический университет гражданской авиации;</li>
    <li>Московский автомобильно-дорожный государственный технический университет;</li>
    <li>Российский университет транспорта;</li>
    <li>Московский авиационный институт (национальный исследовательский университет).</li>
</ul>
<a href="https://postupi.online/vuzi/">Больше об институтах и факультетах</a>
<br>
<br>
</div>
