
<link rel="stylesheet" href="home.component.css">
<!-- <img  src="././assets/img/home.jpg" alt="img"> -->
<br>
<br>

<div >
    <h2 align="center">Добро пожаловать на мой сайт!</h2>
    <p >Я понимаю, что очень тяжело определиться c будущей профессией, поэтому я протягиваю руку помощи -></p>
    <p>Данный сайт поможет Вам выбрать свой путь в жизни, начать заниматься любимым делом!</p>
    <p>Немного о навигации по сайту:</p>
    <ol>
        <li>Во вкладке «Опросник Холланда» находится тест, после чьего прохождения вы определите сферу деятельности, которая Вам подходит, и его описание. Чтобы пройти тест нужно нажать на кнопку «Пройти».</li>
        <li>Во вкладке «Список профессий» находится список профессий. Для того, чтобы почитать их описание, нужно нажать на название профессии(все данные приведены в соответствие с Московской статистикой).</li>
        <!-- <li>Если заполнить форму ниже, то у Вас пропадет все, так как Вам это не нужно(вернуть можно, обновив страницу).</li> -->
    </ol>
</div>


