<style>
    .table{
        border-collapse: collapse;
        border: 2px solid rgb(0, 0, 0);
    }
    .th {
        border: 2px solid rgb(0, 0, 0);
        text-align: center;
    }
    .td{
        border: 2px solid rgb(0, 0, 0);
    }
</style>
<h1 style="text-align: center;">Профессии, связанные с юриспруденцией</h1>
<h2 style="font-weight: 600;">Описание:</h2>
<p><b>Юриспруденция</b> — гуманитарная специальность, ориентированная на общественную деятельность, организацию правоохранительной, правоприменительной и нормотворческой деятельности.</p>
<h2 style="font-weight: 600;">Преимущества и недостатки</h2>
<table class="table">
    <tr>
      <th class="th">Преимущества</th>
      <th class="th" >Недостатки</th>
    </tr>
    <tr>
        <td class="td">Широкий круг выбора специальностей.</td>
        <td class="td">Высокая степень ответственности.</td>
    </tr>
    <tr>
        <td class="td">Карьерный рост.</td>
        <td class="td">Часто ненормированный рабочий день.</td>
    </tr>
    <tr>
        <td class="td">Возможность хорошо зарабатывать.</td>
        <td class="td">Эмоциональная сложность, риск здоровью и жизни.</td>
    </tr>
    <tr>
        <td class="td">Восстребованность.</td>
        <td class="td">Длительный и трудоемкий процесс обучения.</td>
    </tr>
  </table>
<h2 style="font-weight: 600;">Возможные профессии:</h2>
<ul>
    <li><b>Адвокат</b> оказывает квалифицированной юридической помощи физическим лицам (гражданам, лицам без гражданства) и юридическим лицам (организациям), в том числе защита их прав и представление интересов в суде, обладающее полученным в установленном порядке статусом адвоката.</li>
    <li><b>Военнослужащий</b> решает задачи, связанные с прохождением службы в вооруженных силах, и защищает свой народ и государство от неприятелей.</li>
    <li><b>Детектив</b> собирает информацию для раскрытия преступлений, беседуя со свидетелями и информаторами, собирая вещественные доказательства или просматривая записи в базах данных. Это приводит его к аресту преступников и позволяет им быть осужденными в суде. Детектив может работать в полиции или в частном порядке.</li>
    <li><b>Дипломат</b> работает в международных ведомствах, представительствах родной страны. </li>
    <li><b>Полицейский</b> уполномочен следить за соблюдением общественного порядка, а также охранять жизнь, здоровье и имущество как граждан страны, так и иностранцев, находящихся на ее территории.</li>
    <li><b>Пожарный</b> занимается спасением людей из огня и тушением пожаров.</li>
    <li><b>Телохранитель</b> обеспечивает безопасность охраняемого лица.</li>
    <li><b>Таможенник</b> осуществляет контроль перемещения людей, транспортных средств, товарных грузов через таможенную границу.</li>
    <li><b>Прокурор</b> контролирует исполнение законов Российской Федерации. В поле контроля попадают органы местного самоуправления, Следственный комитет, ФСИН и другие организации.</li>
</ul>
<h2 style="font-weight: 600;">Качества, которые ценятся в этой сфере:</h2>
<ol>
    <li>Внимательность и ответственность.</li>
    <li>Пунктуальность, обязательность.</li>
    <li>Обостренное чувство справедливости.</li>
    <li>Высокая концентрация внимания, хорошая память.</li>
    <li>Способность уважать другое мнение и признавать собственные ошибки.</li>
</ol>
<h2 style="font-weight: 600;">Зарплата:</h2>
<table class="table">
    <tr>
        <th class="th">Без опыта</th>
        <th class="th" >С опытом 1-3 года</th>
        <th class="th">С опытом 3-6 лет</th>
        <th class="th">С опытом больше 6 лет</th>
      </tr>
      <tr>
          <td class="td">80 000 ₽</td>
          <td class="td">100 000 ₽</td>
          <td class="td">130 000 ₽</td>
          <td class="td">200 000 ₽</td>
      </tr>
</table>
<p>Все данные взяты с сайта
    <a href="https://hh.ru/">https://hh.ru/</a>
    2023 год
</p>
<h2 style="font-weight: 600;">Профильные предметы, которые могут понадобиться на ЕГЭ: </h2>
<ul>
    <li>Русский язык;</li>
    <li>Обществознание;</li>
    <li>История;</li>
    <li>Математика;</li>
    <li>Иностранный язык.</li>
</ul>
<h2 style="font-weight: 600;">Лучшие институты Москвы:</h2>
<ul>
    <li>Российский экономический университет имени Г.В. Плеханова;</li>
    <li>Российский государственный университет правосудия;</li>
    <li>Юридический институт РУТ (МИИТ);</li>
    <li>Национальный исследовательский университет "Высшая школа экономики";</li>
    <li>Институт права и национальной безопасности РАНХиГС.</li>
</ul>
<a href="https://postupi.online/vuzi/">Больше об институтах и факультетах</a>
<br>
<br>
